@import url('https://fonts.googleapis.com/css?family=Courgette|Marmelad|Pangolin');
 
* {
    text-align: center;
    font-weight: 200;
}

.section-title {
    font-size: 4vh;
    padding-top: 1%;
    padding-bottom: 1%;
 }

 .sub-section-title {
    font-size: 3vh;
 }


/************************************************************* Page 1 **************************************************/
 #intro-container{
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./images/aboutPic2.jpg");
    background-position: center;
    align-items: right;
}

#intro-words {
    width: 50%;
    float: right;
}
#hi{
    font-family: "Courgette", cursive;
    font-size: 44px;
    color: black;
    text-shadow: white 1px 1px;
    text-align:center;
    padding-top: 30vh;
}

#profile-name{
    font-family: "Marmelad", sans-serif;
    font-size: 60px;
    font-weight: 100;
    color:black;
    text-shadow: white 1px 1px;
    text-align: center;
}

.parallax {
    /* The image used */
    background-image: url("./images/aboutPic2.jpg");

    /* Set a specific height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-img {
    margin: 2px;
    height: 6vh;
    width: 6vh;
}

.contact-img:hover {
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
}

 /************************************************************* Page 2 **************************************************/
 #about-me-container{
    height: 100vh;
    padding: 6vh 0px 6vh 0px;
    margin: 2% 2%;
    align-items: center;
    overflow: hidden;
}

.icon-label{
    font-size: 2.2vh;
    font-weight: 400
}

.bullet-point{
    padding: 1.5vh;
    font-size: 2.2vh;
}

.sub-text {
    font-size: 2vh;
}


/* .btn-outline-info, .btn-outline-info:hover, .btn-outline-info:active, .btn-outline-info:visited {
    color: #b3d1d1 !important;
    border-color: #b3d1d1 !important;
    background-color: #b3d1d1 !important;
} */


 /************************************************************* Page 3 **************************************************/
.projects-container {
    height: 100vh;
    padding: 6vh 0px 6vh 0px;
    background-color: black;
    color: white;
    overflow: hidden;
}

.row {
    padding-top: 1.5vh;
    padding-bottom: 2vh;
}

.class-name {
    font-size: 3.2vh;
}

.project-title-container {
    font-size: 2.5vh;
}

.final-project-title{
    /* color: #b3d1d1; */
    font-weight: 400;
}

.final-project-link{
    font-size: 2.5vh;
    color: #b3d1d1;
    font-weight: 400;
}

 /************************************************************* Page 4 **************************************************/
#map-container{
    height: 100vh;
    padding-top: 5vh;
}

 /************************************************************* Page 5 **************************************************/
 #photos-container{
    height: 100vh;
    padding-bottom: 5vh;
}

.photo{
    height: 16.6vw;
    width: 100%;
    object-fit: cover;
    padding: 1px;
    border: none;
}

.photo:hover {
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
}

.location-container{
    background-image: url("./images/white.jpg");
    background-size: cover;
    height: 16.6vw;
    width: 100%;
    font-size: 24px;
    font-weight: 200;
    display: table;
    text-align: center;
}

.location{
    display: table-cell;
    vertical-align: middle;
}

.modal-photo {
    width: 100%;
    object-fit: contain;
}